baseURL = "https://paarthmadan29.github.io/"
title = "Paarth Madan"
theme = "PaperMod"

[pagination]
  pagerSize = 10

paginate = 10

[params]
  ShowReadingTime = true
  ShowShareButtons = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  ShowSummary = true

[menu]
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 1

  [[menu.main]]
    name = "Tags"
    url = "/tags/"
    weight = 2

  [[menu.main]]
    name = "Archives"
    url = "/archives/"
    weight = 3
